<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Cobweb Control Plane</title>
    <meta name="description" content="cobweb control plane homepage">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- START OF APP -->
    <div id="app">

        <x-nav></x-nav>

        <div class="main">

            <div class="config">

                <div style="font-size: 16px; padding: 0px; font-weight: 900;"> Instance ID: {{instanceId}}</div>

                <div style="font-size: 16px; margin: 10px 0px" v-bind:style="{ color: startButton.color }">
                    Current Status: {{ startButton.status }}
                </div>
                <hr style="margin: 0px 0px 30px 0px">

                <x-modifiable label="ACS URL" @input="updateConfig" v-model="deviceConfig.acsUrl" :readonly="false">
                </x-modifiable>
                <x-modifiable label="OUI" @input="updateConfig" v-model="deviceConfig.oui" :readonly="false">
                </x-modifiable>
                <x-modifiable label="Timeout (s)" @input="updateConfig" v-model="deviceConfig.timeoutSecs"
                    :readonly="false"></x-modifiable>
                <x-modifiable label="Starting SN#" @input="updateConfig" v-model="deviceConfig.startSn"
                    :readonly="false"></x-modifiable>
                <x-modifiable label="Count" @input="updateConfig" v-model="deviceConfig.count" :readonly="false">
                </x-modifiable>
                <x-modifiable label="Profile (ro)" v-model="deviceConfig.profile" :readonly="true"></x-modifiable>
                <x-modifiable label="Inform Interval (s)" @input="updateConfig"
                    v-model="deviceConfig.informIntervalInSecs" :readonly="false"></x-modifiable>
                <x-modifiable label="Local Address Prefix" @input="updateConfig"
                    v-model="deviceConfig.localAddressPrefix" :readonly="false"></x-modifiable>
            </div>
            <div>
                <button class="status-button" id="startButton" @click="toggleStartStop">{{ startButton.text }}</button>
            </div>

            <div>
                <a @click="toggleStatusHide"
                    style="margin-left: 40px; font-size: .8rem; text-decoration: underline; color: blue;">
                    [hide details: {{statusHidden}} ]
                </a>
                <div v-if="!statusHidden">
                    <pre>{{statusInform}}</pre>
                </div>
            </div>

            <div class="services" style="margin-top: 60px">
                <h3>Instances Found</h3>
                <h4>Cluster Configuration - Last updated: {{ lastUpdated }}</h4>
                <div v-for="instance in serviceInstancesObj">
                    {{instance.serviceId}} -
                    <span style="font-weight:900; color: #02440c;">{{instance.instanceId}}</span> -
                    <a :href="instance.uri">{{instance.uri}}</a> -
                    {{instance.metadata}}
                    <!--                <button @click="getConfigForInstanceId(instance.instanceId)">Get Config</button>-->
                </div>
            </div>

            <div class="inspect">
                <h3>Instance Inspection</h3>
                <div style="margin-left:35px">
                    <span style="font-weight:900; margin-bottom:5px; display: inline-block;width:200px">STARTING
                        ENDPOINT</span>
                    <span style="font-weight:900; margin-bottom:5px; display: inline-block;width:200px">ENDING
                        ENDPOINT</span>
                    <span
                        style="font-size:0.8rem; font-weight:600; margin-bottom:5px; display: inline-block;width:200px">(TOTAL:
                        {{totalDevices | number('0,0') }})</span>
                    <br>
                    <span style="display: inline-block;width:200px">{{firstEndpointId}}</span>
                    <span style="display: inline-block;width:200px">{{lastEndpointId}}</span>
                    <br>
                    <br>
                    <span style="font-weight:900; display: inline-block;width:250px">DELAY BETWEEN INFORM:</span>
                    <span style="display: inline-block;width:300px">{{delayBetweenInform}}ms * {{totalDevices |
                        number('0,0') }} = {{deviceConfig.informIntervalInSecs}} seconds </span>
                    <br>
                    <br>
                    <span style="font-weight:900; display: inline-block;width:250px">INFORMS PER SECOND:</span>
                    <span style="display: inline-block;width:300px">{{informsPerSecond }}</span>
                    <br>
                    <br>
                    <span style="font-weight:900; display: inline-block;width:250px">INFORMS SENT:</span>
                    <span style="display: inline-block;width:300px">{{animatedNumber | number('0,0') }}</span>

                </div>
            </div>

            <div class="profiles">
                <h3>Data Models</h3>
                <button @click="getProfiles">GET PROFILES</button>
                <div v-for="(obj, key) in profiles" :key="key">
                    <div class="profile-header">
                        <span style="font-weight: 900; margin-left: 10px;">Profile Name:</span> <span style="color:red">
                            {{obj.key}}</span>
                        <span style="font-weight: 900; margin-left: 10px;">Namespace:</span> {{obj.namespace}}
                        <span style="font-weight: 900; margin-left: 10px;"> Type:</span> {{obj.type}}
                        <a @click="toggleProfileHide(key)"
                            style="margin-left: 40px; font-size: .8rem; text-decoration: underline; color: blue;">
                            [hidden :
                            {{obj.hidden}} ] </a>
                    </div>
                    <div class="profile" v-if="!obj.hidden">
                        <div class="informParameters">
                            <h4> Inform Parameters </h4>
                            <div v-for="(informParam, idx) in orderBy(obj.informParameters, true)" :key="idx">
                                <span style="font-weight:900; margin-right: 5px;">{{idx}} :
                                </span><span>{{informParam}}</span>
                            </div>
                        </div>
                        <div class="parameters">
                            <h4> Device Model Parameters </h4>
                            <div v-for="(param, idx) in orderBy(obj.parameters, 'key')" :key="idx">
                                <span style="font-weight:900; margin-right: 5px;">{{param.key}} :
                                </span><span>{{param.value}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- END OF APP -->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
        integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>

    <script src="js/xModifiable.js"></script>
    <script src="js/xNav.js"></script>

    <script>
        //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Configuration and Constants
        //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        //const API_URL = 'http://localhost:8085/api';
        const API_URL = 'api';

        var eventSource = new EventSource('/api/cpe/stream-sse');

        function profilesObjectToArray(obj_obj) {
            return Object.keys(obj_obj).map(i => {
                const objectWithKey = Object.assign({ key: i, hidden: true }, obj_obj[i])
                objectWithKey.parameters = Object.keys(objectWithKey.parameters).map(j => {
                    return { key: j, value: objectWithKey.parameters[j] }
                })
                return objectWithKey
            })
        }

        function getObj(path) {
            return axios({
                method: 'get',
                headers: {
                    'Content-Type': 'application/json',
                },
                url: `${API_URL}/${path}`
            })
        }

        function postDeviceConfig(postObj) {
            return axios({
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                },
                url: `${API_URL}/cpe/kvConfig`,
                data: postObj
            })
        }

        //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        //  X MODIFIABLE
        //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


        //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Vuejs Main
        //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Vue.config.productionTip = false
        new Vue({
            el: '#app',
            mixins: [Vue2Filters.mixin],
            //-----------------------------------------------------------------------------------
            // Data
            //-----------------------------------------------------------------------------------
            data: {
                statusHidden: false,
                statusInform: "",
                isDirty: false,
                progress: 0,
                tweenedNumber: 0,
                serviceInstancesObj: {},
                instanceId: "Unavailable",
                selectedInstanceId: "Unavailable",
                isActive: false,
                deviceConfig: {
                    isActive: false,
                    timeoutSecs: "15",
                    acsUrl: "http://localhost:9180/",
                    startSn: "1000000",
                    count: "100",
                    oui: "009DEF",
                    profile: "default",
                    informIntervalInSecs: "900",
                    localAddressPrefix: "0.0.0.0"
                },
                startButton: {
                    status: "Stopped",
                    text: "Start",
                    color: "rgb(208, 86, 86)"
                },
                lastUpdated: null,
                profiles: {},
            },
            //-----------------------------------------------------------------------------------
            // Methods
            //-----------------------------------------------------------------------------------
            methods: {
                /** API CALLS **/
                async getProfiles() {
                    const resp = await getObj("profiles")
                    console.log("profiles", resp.data)
                    this.profiles = profilesObjectToArray(resp.data)
                },
                toggleStartStop: function () {
                    this.deviceConfig.isActive = !this.deviceConfig.isActive
                    this.postConfig()
                },

                async getServices() {
                    const resp = await getObj("services")
                    console.log(resp.data)
                    // TODO SORT:
                    //resp.data.keys(o).sort().reduce((r, k) => (r[k] = o[k], r), {})
                    this.serviceInstancesObj = resp.data
                },

                async getConfig() {
                    const resp = await getObj(`cpe/kvConfig`)
                    console.log("[received config] -", resp.data)
                    this.deviceConfig.isActive = resp.data.isActive
                    this.deviceConfig.acsUrl = resp.data.acsUrl
                    this.deviceConfig.timeoutSecs = String(resp.data.timeoutSecs)
                    this.deviceConfig.startSn = String(resp.data.startSn)
                    this.deviceConfig.count = String(resp.data.count)
                    this.deviceConfig.oui = resp.data.oui
                    this.deviceConfig.profile = resp.data.profile
                    this.deviceConfig.informIntervalInSecs = String(resp.data.informIntervalInSecs)
                    this.deviceConfig.localAddressPrefix = resp.data.localAddressPrefix
                },

                async getInstanceId() {
                    const resp = await getObj(`instanceId`)
                    this.instanceId = resp.data
                },
                async postConfig() {
                    console.log("Posting config... status: ", this.deviceConfig.isActive)
                    try {
                        const result = await postDeviceConfig(this.deviceConfig)
                        console.log(result)
                        this.isDirty = false
                    } catch (e) {
                        console.log("error posting config", e)
                    }
                },

                async updateConfig() {
                    this.isDirty = true
                },

                /** HELPER METHODS **/
                toggleStatusHide() {
                    this.statusHidden = !this.statusHidden
                },

                toggleProfileHide(key) {
                    this.profiles[key].hidden = !this.profiles[key].hidden
                },
                async refresh() {
                    await this.getInstanceId()
                    this.selectedInstanceId = this.instanceId
                    await this.getServices()
                    this.lastUpdated = moment().format('MMMM Do h:mm:ss a')
                    await this.getConfig(this.instanceId)
                    this.isDirty = false
                },

                consumeInformProgress() {
                    eventSource.addEventListener('inform-status', (e) => {
                        console.log(e.data)
                        this.statusInform = e.data
                    }, false)
                    eventSource.addEventListener('inform-count', (e) => {
                        this.progress = parseInt(e.data)
                    }, false)
                    eventSource.addEventListener('inform-isActive', (e) => {
                        if (e.data == "false") {
                            this.isActive = false
                        } else {
                            this.isActive = true
                        }
                    }, false)
                    eventSource.onerror = function (e) {
                        console.log("error in sse", e)
                    }
                }

            },
            //-----------------------------------------------------------------------------------
            // COMPUTED
            //-----------------------------------------------------------------------------------
            watch: {
                progress: function (newValue) {
                    gsap.to(this.$data, { duration: 1.0, tweenedNumber: newValue });
                },
                isActive: function (newValue) {
                    this.deviceConfig.isActive = newValue
                    this.startButton.text = newValue ? 'Stop' : 'Start';
                    this.startButton.status = newValue ? "Running..." : "Stopped"
                    this.startButton.color = newValue ? "#4aaf4a" : "rgb(208, 86, 86)"
                }
            },
            //-----------------------------------------------------------------------------------
            // COMPUTED
            //-----------------------------------------------------------------------------------
            computed: {
                totalDevices() {
                    return this.deviceConfig.count
                },
                firstEndpointId() {
                    return `${this.deviceConfig.oui} : ${this.deviceConfig.startSn}`
                },
                lastEndpointId() {
                    return `${this.deviceConfig.oui} : ${parseInt(this.deviceConfig.startSn) + parseInt(this.totalDevices) - 1}`
                },
                delayBetweenInform() {
                    return parseInt(this.deviceConfig.informIntervalInSecs) * 1000 / this.totalDevices
                },
                informsPerSecond() {
                    return parseFloat(this.totalDevices) / parseInt(this.deviceConfig.informIntervalInSecs)
                },
                animatedNumber() {
                    return this.tweenedNumber.toFixed(0);
                }
            },
            //-----------------------------------------------------------------------------------
            // MOUNTED
            //-----------------------------------------------------------------------------------
            mounted() {
                this.refresh()
                this.consumeInformProgress()
            }
        });

    </script>

</body>

</html>