/* ________________________________________________________________________________ */
/** GLOBAL **/
/* ________________________________________________________________________________ */
:root {
    --nav-bg: #11232f;
    --nav-fg: #78797f;
    --main-bg: #ffffff;
    --app-bg: #fff;
}

body {
    background-color: var(--main-bg);
}

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--main-color);
    background-color: var(--main-bg);
}


/* ________________________________________________________________________________ */
/** MAIN **/
/* ________________________________________________________________________________ */
.main {
    text-align: left;
    margin-left: 10px;
}

.isDirty {
    border-left: 5px solid red;
}

h3 {
    border-top: 1px solid black;
    /*background-color: #f2f0f0;*/
}


/* ________________________________________________________________________________ */
/** NAVIGATION **/
/* ________________________________________________________________________________ */
.logo {
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 900;
}

.site-nav {
    display: flex;
    padding: 0.5em;
    background-color: var(--nav-bg);
    list-style-type: none;
    border-radius: 0.2em;
}

.site-nav>li {
    margin-top: 0;
}

.site-nav>li>a {
    display: block;
    padding: 0.5em 1em;
    color: #acb7ff;
    text-decoration: none;
}

.site-nav>li+li {
    margin-left: 1.5em;
}

.site-nav>.nav-right {
    margin-left: auto;
}
